<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.radio_button :sex, 1 %>男性
    <%= form.radio_button :sex, 2 %>女性
  </div>

  <div class="field">
    <%= form.check_box :active %>有効
  </div>

  <div class="field">
    <%= form.select :sex, { '男性': 1, '女性': 2 } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
